.butoanejos{
    margin-left: 47%;
    display: flex;
    margin-bottom: 300px;
    
}
.patent{
  align-content: center;
    width: 35px;
    height: 35px;
    background-color: #151a4d;
    border-color:#0c103d;
    border-radius: 5px;

}